@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bl1: #effffd;
  --bl2: #b8fff9;
  --bl3: #85f4ff;
  --bl4: #42c2ff;
  --bl5: #0599de;
  --bl6: #0ea1e6;
  --whi: white;
}
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  background: var(--bg_color);
}
.child {
  scroll-snap-align: start;
}
header {
  width: 100%;
  position: relative;
}
nav {
  position: absolute;
  width: 100%;
  background: var(--whi);
}
.nav_wrapper {
  padding: 15px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo > img {
  width: 50px;
}
.nav_logo > h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  color: var(--bl6);
  letter-spacing: 2px;
}
.nav_links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.nav_links li {
  list-style: none;
  margin: 0 10px;
}
.nav_links li a {
  color: var(--bl4);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}
.nav_links li a:hover {
  color: var(--bl6);
  transition: 0.6s;
}
.header_content {
  padding: 110px 50px;
  padding-bottom: 30px;
  width: 100%;
  height: 90vh;
}
.bg_con {
  background: linear-gradient(
    90deg,
    rgba(184, 255, 249, 1) 0%,
    rgba(133, 244, 255, 1) 50%,
    rgba(66, 194, 255, 1) 100%
  );
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links {
  width: 100%;
  height: 10vh;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_links {
  font-size: 2em;
  text-decoration: none;
  color: var(--bl6);
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
}
.head_links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--bl6);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.head_links:hover:after {
  width: 100%;
  left: 0;
}
.con_gl {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--whi);
}
.con_min {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: var(--bl6);
}
@media (max-width: 900px) {
  .nav_wrapper {
    padding: 10px 20px;
    flex-direction: column;
  }
  .header_content {
    padding: 110px 25px;
    padding-bottom: 20px;
  }
  .links {
    padding: 15px 40px;
  }
}
@media (max-width: 600px) {
  .head_links {
    font-size: 1.2em;
  }
  .con_gl {
    font-size: 1.2em;
    font-weight: 550;
    letter-spacing: 1.3px;
  }
  .con_min {
    font-size: 1em;
    font-weight: 450;
    letter-spacing: 1px;
    color: var(--bl6);
  }
}

.why {
  width: 100%;
  height: 100vh;
}
.con_why {
  width: 100%;
  height: 100%;
}
.why_blob {
  width: 100%;
  height: 100%;
}
.bec {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--whi);
  letter-spacing: 1.5px;
  font-weight: 600;
  font-size: 2em;
}

.organ {
  width: 100%;
  height: 100vh;
}
.con_organ {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 300vh;
  transform: translateY(-50%);
}
.blob_org {
  width: 100%;
  height: 100%;
}